<main>
    <div class="row">
        <div class="col-12">
            {{#with navigation}}
            <nav>
                {{#each links}}
                <a class="btn btn-link" href="{{href}}">{{text}}</a>
                {{/each}}
                <a class="btn btn-primary m-4" href="{{button.href}}">{{button.text}}</a>
            </nav>
            {{/with}}

            <hr>
            {{#with header}}
            <h1>{{title}}</h1>
            <p>{{description}}</p>
            <a class="btn btn-primary" href="{{button.href}}">{{button.text}}</a>
            {{/with}}

            <br>
            <br>
            <hr>
            {{#with city}}
            <h2>{{title}}</h2>
            <div class="row g-2">
                {{#each cards}}
                <div class="col-5">
                    <div class="card ">
                        {{#with picture}}
                        <img src="{{src}}" alt="{{alt}}">
                        <div class="card-body">
                            {{/with}}
                            <h6 class="card-title text-bg">{{title}}</h6>
                            <br>
                            <p class="text">{{description}}</p>
                        </div>
                        {{#with button}}
                        <a href="{{href}}" class="btn btn-primary">{{text}}</a>
                        {{/with}}
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
            <br>
            <hr>
            {{#with winner}}
            <h2>{{title}}</h2>
            <table class="table"></table>
            {{#each table}}
            <thead {{thead}}>
                <tr>
                    {{#each user}}
                    <th>{{place}}</th>
                    <th>{{name}}</th>
                    <th>{{surname}}</th>
                    <th>{{nickname}}</th>
                    {{/each}}
                </tr>
            </thead>

            {{/each}}
            </table>
            {{/with}}


        </div>
    </div>
</main>