{{#with web}}
<h2>{{>title data='WEB'}}</h2>
{{#each languages}}
<ul>
    <li>Name: {{name}}</li>
    <li>Version: {{version}}</li>
    <li>Description: {{description}}</li>
    <br>
    <hr>
    {{#if elements}}<h3>Elements</h3>{{/if}}
    {{#each elements}}
    <li>Name: {{name}}</li>
    <li>Description: {{description}}</li>
    <ul>
        {{#each attributes}}
        <li>Name: {{name}}</li>
        <li>Description: {{description}}</li>
        {{/each}}
    </ul>
    {{/each}}

    {{#if properties}}<h3>Properties</h3>{{/if}}
    {{#each properties}}
    <li>Name: {{name}}</li>
    <li>Description: {{description}}</li>
    <ul>
        {{#each values}}
        <li>value: {{value}}</li>
        <li>Description: {{description}}</li>
        {{/each}}
    </ul>
    {{/each}}
    {{/each}}
    {{/with}}